#header{
    width:90%;
    margin: auto;
    margin-top:-8px;
}
#header>div{
    display: flex;
    justify-content: flex-end;
    /* border:1px solid red; */
}

#header a{
    text-decoration: none;
    color:#666;
    padding: 10px;
    font-size: 12px;
}

#header button{
    
    border: none;
    background-color: white;
}
#header img{
    width:20%;
}

#parent{
    background-color: #2d2d2d;
}

#parent>#nav1{
    display:flex;
    border:3px solid red;
}

#parent>div>div{
    margin-right:2%;
}

#parent>div>div:nth-child(1){
    width:25%;
    margin-left:0px;
    border:3px solid green;

}

#parent>div>div:nth-child(2){
    width:60%;
    border:3px solid green;
}

#parent>div>div:nth-child(3){
    width:10%;
    border:3px solid green;
    margin-right:0px;
}

#parent>div>div>.anchor{
    width:30%;
}

#in{
    width: 100%;
    padding: 15px 0px 15px 0px;
    border-radius: 20px;
}

#nav2{
    margin: auto;
    background-color: #666;;
}

#nav2>div{
    display: flex;
    width: 90%;
    margin: auto;
}
#nav2>div>button{

    height:50px;
    background-color: #666;
    border:none;
    color:#eee;
    margin-right:10px;
   
}

#nav2>div>button:hover{
    cursor: pointer;
    background-color: #eee;
    color: #000000;
}
#nav2>div>#sales{
    background-color: #d01345;
    font-weight: 800;
    transform: skew(-12deg);
    padding-right: 10px;
    margin-right:10px;
}

#nav2>div>#outlets{
    background-color: #d01345;
    font-weight: 800;
    transform: skew(-12deg);
    padding-right: 10px;
    margin-right:10px;
}

#sale{
    display: flex;
    margin: auto;
    border:3px solid green;
}

#sale>.yellow{
    border:3px solid green;
    width:90%;
    background-color: yellow;
 
}

.yellow>h5{
    text-align:end;
    
}

#sale>.black{
    width:90%;
    background-color: black;
    color: white;
}

#content>div>a>.parent{
    position: relative;
    width:100%;
}

#content>div>a>.child{
    position: absolute;
    top: 40%;
    left: 42%;
}

#content>div>a>.heading{
    position: absolute;
    top: 45%;
    font-size: 2rem;
    left: 35%;
    color:#000000;
    text-align: center;
}

#content>div>a>.para1{
    position: absolute;
    top: 62%;
    left: 44%;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 900;
}

#content>div>a>.para2{
    position: absolute;
    top: 80%;
    left: 35%;
    color: #000000;
    font-size: 14px;
}

#big{
    padding-left: 35px;
    margin-top: 40px;
}

#big>a{
    margin:auto;
}

#big>a+img{
    
    width:100%;
}

#images{
    display:flex;
    width:90%;
    margin: auto;
    margin-top:40px;
    margin-bottom: 40px;
    
}
#images>div{
    padding-right: 20px;
    text-align: center;
    
}
#images img{
    width:100%;
}

#images .para{
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    
}

#images>div>a{
    text-decoration: none;
    color: black;
}


#links{
    display:flex;
    width:80%;
    margin: auto;

}

#links div{
    text-align: center;
    text-decoration: none;
}

#links div>a{
    text-align: center;
    text-decoration: none;
    color: black;
    
}

#links p{
    color: #2d2d2d;
    font-size: 18px;
}

#links button{
    padding: 20px 50px 20px 50px;
    font-weight: bold;
    border-inline-color: black;
}

#links button:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}


#head{
    text-align: center;
    margin-top: 50px;
}

#links img{
    width:90%;
    
}

#brands{
    display: flex;
    margin: auto;
    width:90%;
    
}

#brands>a{
    width:16.66%;
    
}

#brands>a>img{
    width: 100%;
}


#websites{
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#websites>div:nth-child(1){
    display: flex;
    width:50%;
    justify-content:flex-end;
    margin-top:15px;
    margin-bottom:15px;
    border-right:1px solid #666;
}

#websites>div:nth-child(2){
    display: flex;
    width:50%;
    justify-content:flex-start;
    padding: 15px;

}

#websites img{
    width:5%;
    padding-left: 30px;
}

#websites a{
    margin-right: 50px;
    /* border-radius: 50%; */
    padding: 5px;
    
}
#websites>#web>:nth-last-child(1){
    background-color: yellow;
    color:black;
}

#websites>#web>:nth-last-child(2){
    background-color:purple;
    color:white;
}

#websites>#web>:nth-last-child(3){
    background-color: blue;
    color:white;
}

#websites>#web a:hover{
    border:2px solid blue;
    border-radius: 50%;
}

#footer{
    display: flex;
    margin-bottom:10px;
    justify-content: space-around;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color:#eee;
    padding: 20px;
    font-size: 14px;
    font-family: sans-serif;
}

#footer>div{
    display: grid;
}

#footer a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    color: #2d2d2d;
}

#footer a:hover{
    color: blue; 
}
#footer img{
    width:8%;
}

#footer .img{
    margin-top: -50px;
}

#foot a:hover{
   
   color: blue; 
}

#foot{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;

}

#foot>div{
    display: flex;
    font-size: 12px;
    color: #2d2d2d;
    padding-left: 40px;
}

#foot a{
    padding-right: 30px;
    font-size: 12px;
    text-decoration: none;
    margin-top: 10px;
    color: #2d2d2d;
}